<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>注文管理システム</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <h1>注文管理システム</h1>
  <ul>
    <li><a href="{{ url_for('user.list') }}">ユーザー（顧客）</a></li>
    <li><a href="{{ url_for('product.list') }}">製品</a></li>
    <li><a href="{{ url_for('order.list') }}">注文</a></li>
  </ul>
  <h2>注文全体の男女比</h2>
  <canvas id="genderChart" width="400" height="400"></canvas>

  <script>
    const genderData = {{ gender_ratio | tojson }};

    const labels = Object.keys(genderData);
    const data = Object.values(genderData);

    const ctx = document.getElementById('genderChart').getContext('2d');
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: labels,
        datasets: [{
          data: data,
          backgroundColor: [
            '#FF6384', // 女性
            '#36A2EB'  // 男性
          ]
        }]
      }
    });
  </script>
</body>

</html>