<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('order.list') }}">注文一覧</a></li>
    </ul>

    <a href="{{ url_for('order.add') }}">新規注文追加</a>
    <form action="{{ url_for('order.list') }}" method="get" class="month-form">
    <label for="month">月を選択：</label>
    <select name="month" id="month" onchange="this.form.submit()">
        <option value="">--選択--</option>
        {% for m in range(1, 12+1) %}
        <option value="{{ m }}" {% if selected_month == m %}selected{% endif %}>
            {{ m }}月
        </option>
        {% endfor %}
    </select>
</form>

    <table>
        <thead>
            <tr>
                <th>ユーザー</th>
                <th>製品</th>
                <th>注文日</th>
            </tr>
        </thead>
        <tbody>
            {% for order in items %}
            <tr>
                <td>{{ order.user.name }}</td>
                <td>{{ order.product.name }}</td>
                <td>{{ order.order_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if monthly_sales is not none %}
<hr>
<h2>{{ selected_month }}月の集計</h2>
<p><strong>総売上：</strong> {{ monthly_sales }} 円</p>
<p><strong>客単価：</strong> {{ monthly_unit_price }} 円</p>
{% endif %}

</body>
</html>
